<h1>Edit <%= @user.name %></h1>

<%= form_for(@user) do |f| %>
  <fieldset>
    <%= render "shared/errors", object: @user %>
    <p>
      <%= f.label :email %><br>
      <%= f.email_field :email, :autofocus => true, :required => true %>
    </p>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, :required => true %>
    </p>
    <p>
      <%= f.label 'Mobile number' %><br>
      <%= f.text_field :mobile %>
    </p>
    <% if @current_user.admin || @current_user == @user %>
      <p>
        <%= f.label 'Reset password (optional)' %><br>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label 'Confirm password (optional)' %><br>
        <%= f.password_field :password_confirmation %>
      </p>
    <% end %>
    <!-- CLIENT_ADMIN can change building authorizations -->
    <% if @current_user.admin || @current_user.client == @user.client && @current_user.client_admin %>
      <p>
        <%= f.label 'Update building access (hold Ctrl key to select multiple)' %><br>
        <%= f.select :building_ids, @user.client.buildings.order('name ASC').collect {|x| [x.name, x.id]}, {}, :multiple => true, :size => 10 %>
      </p>
    <% end %>

    <% if @current_user.admin %>
      <%= f.label 'Client admin access' %><br>
      <%= select_tag :client_admin, options_for_select([true, false]) %>
    <% end %>

    <p>
      <%= f.submit %>
    </p>
  </fieldset>

<% end %>
