<h1><%= @user.name %></h1>

<p>
  Company:
  <% if @user.client %>
    <%= link_to @user.client.name, client_path(@user.client) %>
  <% end %>
</p>
<p>Email: <%= @user.email %></p>
<p>Mobile: <%= @user.mobile %></p>

<p>
  <%= link_to 'Edit Account', edit_user_path(@user) %> |
  <%= link_to 'Delete Account', user_path(@user), method: :delete, data: {confirm: 'Are you sure?'} %>
</p>

<hr>

<h2>Buildings</h2>
<%= render 'shared/buildings', object: @user %>
