<h1><%= @user.name %></h1>

<p>
  Company:
  <% if @user.client %>
    <%= link_to @user.client.name, client_path(@user.client) %>
  <% end %>
</p>
<p>Email: <%= @user.email %></p>
<p>Mobile: <%= @user.mobile %></p>

<p>
  <%= link_to 'Edit Account', edit_user_path(@user) %> |
  <%= link_to 'Delete Account', user_path(@user), method: :delete, data: {confirm: 'Are you sure?'} %>
</p>

<hr>

<h2>Buildings</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Reports</th>
  </tr>
  <% @user.buildings.order('name ASC').each do |building| %>
  <tr>
    <td><%= link_to building.name, building_path(building) %></td>
    <td><%= building.address %></td>
    <td><%= building.reports.length %></td>
  </tr>
  <% end %>
</table>


<% if @user %>
  <button>
      <%= link_to 'Logout', logout_path, method: :delete %>
  </button>
<% end %>
