<%= form_for(@client) do |f| %>
  <fieldset>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, :autofocus => true, :required => true %>
    </p>
    <p>
      <%= f.label :address %><br>
      <%= f.text_field :address, size: 60, :required => true %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </fieldset>

<% end %>
