<%= content_for :title, "Pesteco | #{@client.name}" %>

<h1><%= @client.name %></h1>
<p>Head office: <%= @client.address %></p>

<% if @current_user && @current_user.admin %>
  <p>
    <%= link_to 'Edit Client', edit_client_path(@client) %> |
    <%= link_to 'Delete Client', client_path(@client), :method => :delete, :data => {confirm: 'Are you sure?'} %>
  </p>
<% end %>

<hr>

<% if @client.groups.length == 0 || @current_user.admin %>
  <%= render "shared/buildings", object: @client %>
<% end %>
<% if @client.groups.length > 0 || @current_user.admin %>
  <%= render "shared/groups" %>
<% end %>

<hr>

<h2>Authorized users</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Buildings</th>
  </tr>
  <% @client.users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user_path(user) %></td>
    <td><%= user.email %></td>
    <td>
      <% if user.client_admin%>
        yes
      <% else %>
        no
      <% end %>
    </td>
    <td><%=user.buildings.length%></td>
  </tr>
  <% end %>
</table>

<br>

<button>
  <%= link_to 'Add new user', new_client_user_path(@client) %>
</button>
