<h1>Pesteco news</h1>

<% @posts_news.each do |post|  %>
  <h3><%= post.title %></h3>
  <p><%= post.date.strftime('%d %B %Y') %></p>
  <%= post.body.html_safe %>
  <% post.attachments.each do |attachment| %>
    <%= cl_image_tag(attachment, :width => 200, :height => 200, :crop => :fill) %>
  <% end %>

  <% if @current_user && @current_user.admin %>
    <p>
      <%= link_to 'Show post', post_path(post) %> |
      <%= link_to 'Edit post', edit_post_path(post) %> |
      <%= link_to 'Delete post', post_path(post), method: :delete, :data => {confirm: 'Are you sure?'} %>
    </p>
  <% end %>

<% end %>

<%= will_paginate @posts_news %>

<% if @current_user && @current_user.admin %>
<button>
  <%= link_to 'Add new post', new_post_path %>
</button>

<% end %>
