<%= form_for([@client, @building]) do |f| %>
  <fieldset>
    <%= render "shared/errors", object: @building %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, :autofocus => true, :required => true %>
    </p>
    <p>
      <%= f.label :address %><br>
      <%= f.text_field :address, size: 60, :required => true %>
    </p>
    <p>
      <%= f.label 'Group (leave blank if none)' %><br>
      <%= f.select :group_id, @building.client.groups.order('name ASC').collect {|group| [group.name, group.id]}, {include_blank: true} %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </fieldset>
<% end %>
