<h1><%= @building.name %></h1>
<p>Owner:
  <% if @current_user.admin || @current_user.client && @current_user.client_admin %>
    <%= link_to @building.client.name, client_path(@building.client) %>
  <% else %>
    <%= link_to @building.client.name, user_path(@current_user) %>
  <% end %>
</p>
<p>Address: <%= @building.address %></p>
<% if @building.group %>
<p>Group: <%= @building.group.name %></p>
<% end %>

<% if @current_user && @current_user.admin %>
  <p>
    <%= link_to 'Edit Building', edit_building_path(@building) %> |
    <%= link_to 'Delete Building', building_path(@building), :method => :delete, :data => {confirm: 'Are you sure?'} %>
  </p>
<% end %>


<h2>Reports</h2>
<% @building.reports.order('date DESC').select{|report| report.category == nil || report.category == 'report'}.each do |report|  %>
  <p>
    <strong><%= report.date.strftime('%a, %d %b %Y') %>:</strong>
    <%= link_to 'Open', cl_image_path(report.pdf), :target => '_blank' %> |
    <%= link_to 'Save', cl_image_path(report.pdf, :flags => :attachment) %> |
    <%= format_email_report(report) %>

    <% if @current_user && @current_user.admin %>
      | <%= link_to 'Edit', edit_report_path(:id => report, :building_id => @building) %>
      | <%= link_to 'Delete', report_path(:id => report, :building_id => @building), method: :delete, :data => {confirm: 'Are you sure?'} %>
    <% end %>
  </p>
<% end %>

<% if @current_user && @current_user.admin %>
  <%= link_to new_building_report_path(@building) do %>
    <button>Add new report</button>
  <% end %>
<% end %>

<hr>

<%= render :partial => 'sitemap' %>

<h2>Pest sightings</h2>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>User</th>
  </tr>
  <% @building.incidentsTodo.each do |incident| %>
  <tr>
    <td><%= link_to incident.date_report.strftime('%d %b'), building_incident_path(@building, incident) %></td>
    <td><%= truncate(incident.description) %></td>
    <td><%= incident.user.name %></td>
  </tr>
  <% end %>
</table>

<%= link_to new_building_incident_path(@building) do %>
  <button>New pest sighting</button>
<% end %>

<br>

<h2>Actioned incidents</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Action</th>
    <th>Technician</th>
  </tr>
  <% @building.incidentsDone.each do |incident| %>
  <tr>
    <td><%= link_to incident.date_report.strftime('%d %b'), building_incident_path(@building, incident) %></td>
    <td><%= truncate(incident.description) %></td>
    <td><%= truncate(incident.response) %></td>
    <td><%= incident.technician %></td>
  </tr>
  <% end %>
</table>

<br>
