<h1><%= @building.name %></h1>
<p>Owner: <%= link_to @building.client.name, client_path(@building.client) %></p>
<p>Address: <%= @building.address %></p>

<% if @current_user && @current_user.admin %>
  <p>
    <%= link_to 'Edit Building', edit_building_path(@building) %> |
    <%= link_to 'Delete Building', building_path(@building), :method => :delete, :data => {confirm: 'Are you sure?'} %>
  </p>
<% end %>

<hr>

<h2>Reports:</h2>
<ul>
  <% @building.reports.order('date DESC').each do |report|  %>
    <li>
      <%= report.date %> |
      <a href="<%= cl_image_path(report.pdf) %>" target="_blank">Pesteco Report</a>
      <ul>
        <li>
          <%= link_to 'Edit', edit_report_path(:id => report, :building_id => @building) %> |
          <%= link_to 'Delete', report_path(:id => report, :building_id => @building), method: :delete, :data => {confirm: 'Are you sure?'} %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>

<br>

<% if @current_user && @current_user.admin %>
  <button>
    <%= link_to 'Add new report', new_building_report_path(@building) %>
  </button>
<% end %>
