<%= form_for([@building, @report], :html => {:multipart => true}) do |f| %>
  <fieldset>
    <%= render "shared/errors", object: @report %>
    <p>
      <%= f.label 'Date of report' %><br>
      <%= f.date_field :date, :value => Date.today, :autofocus => true, :required => true %>
    </p>
    <p>
      <%= f.label 'PDF file upload (1 file limit)' %><br>
      <%= f.cl_image_upload :pdf, :html => {:accept => '.pdf', :required => true} %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </fieldset>
<% end %>
