<%= form_for([@building, @report], :html => {:multipart => true}) do |f| %>
  <fieldset>
    <p>
      <%= f.label 'Date of report' %><br>
      <%= f.date_field :date, :value => Date.today, :autofocus => true, :required => true %>
    </p>
    <p>
      <%= f.label 'PDF file upload' %><br>
      <%= f.cl_image_upload :pdf, :required => true %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </fieldset>
<% end %>
