<!DOCTYPE html>
<html>
<head>
  <title>Pesteco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
  <meta name="viewport" content="minimal-ui, width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="mobile-web-app-capable" content="yes"/>
  <%= favicon_link_tag 'pesteco_favicon.png', rel: 'apple-touch-icon' %>
</head>
<body>
<header>

  <div id='logo'>
    <%= link_to image_tag('pesteco_logo.png'), root_path %>
  </div>

  <nav>
    <!-- Login if not signed in, and logout otherwise -->
    <% unless @current_user%>
      <%= link_to 'Login', login_path %>
    <% else %>
    <!-- Show admin link if current_user.admin, otherwise show user client path -->
      <% if @current_user.admin %>
        <%= link_to 'Admin', clients_path %> |
      <% else %>
        <%= link_to @current_user.name, client_path(@current_user.client) %> |
      <% end %>
      <%= link_to 'Logout', logout_path, method: :delete %>
    <% end %>
  </nav>
</header>

<hr>

<!-- FLASH message -->
<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>
<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<%= yield %>

</body>
</html>
