<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Pesteco | Pest Control Experts | Environmentally Safe | Sydney NSW Australia
      <% end %>
    </title>
    <%= stylesheet_link_tag    'application',
    'https://fonts.googleapis.com/css?family=Roboto:400,700',
    media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= cloudinary_js_config %>
    <meta name="viewport" content="minimal-ui, width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content='<%=yield_meta_tag('Welcome to Pesteco, we deliver full-service expertise across retail, hospitality, commercial and residential property sectors. We guarantee a higher quality standard, an environmentally sustainable solution and the safest possible work environment for our client and our employees. Our expertise includes: termite specialists (fully certified termite detection, prevention and treatment), insect control (flying and crawling insect control and treatment solutions) and bird & rodent control (effective programs for rat, mice, possum and bird infestations). Contact us at info@pesteco.com.au or call us on 0411 268 868') %>' />
    <meta name="keywords" content="Pest Management, Eastern Suburbs Pest Management, pest control, bogdan kolev, pest extermination, cockroach control, termite control, termites extermination, maroubra pest control">
    <%= favicon_link_tag 'pesteco_favicon.png', type: 'image/png' %>
    <%= favicon_link_tag 'pesteco_favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90768537-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div class="row">
            <div class="col col-8">
              <a href="/">
                <span class="logo"></span>
              </a>
            </div>
            <div class="col col-4 right">
              <span class="user-login">
                <%= format_session_current_user_nav(@current_user) %>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <hr>

    <!-- Main container -->
    <div class="main-container">
      <div class="container">
        <!-- FLASH message -->
        <p><%= format_flash_message %></p>
        <!-- Yield app -->
        <div class="row">
          <div class="col col-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col sm-col-6 col-4">
            <h4>Company</h4>
            <ul>
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to 'Contact', contact_path %></li>
            </ul>
          </div>
          <div class="col sm-col-6 col-4">
            <h4>Documents</h4>
            <ul>
              <li><%= link_to 'Certification', certification_path %></li>
              <li><%= link_to 'Insurance', insurance_path %></li>
            </ul>
          </div>
          <div class="col sm-col-12 col-4">
            <h4>Clients</h4>
            <ul>
              <li><%= format_session_logout(@current_user) %></li>
              <li><%= format_session_current_user_nav(@current_user) %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 right">
          <div class="container">
          <small>Web app by <a href="http://www.howiemann.tech" target="_blank">Howie Mann</a></small>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
