<!DOCTYPE html>
<html>
  <head>
    <title>Pesteco</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= cloudinary_js_config %>
    <meta name="viewport" content="minimal-ui, width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <%= favicon_link_tag 'pesteco_favicon.png', rel: 'apple-touch-icon' %>
  </head>
  <body>

    <header>
      <nav>
        <div class="container">
          <div class="row">
            <div class="col col-6">
              <a href="/">
                <span class="logo"></span>
              </a>
            </div>
            <div class="col col-6 right">
              <span class="user-login">
                <%= format_session_current_user_nav(@current_user) %>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <hr>

    <!-- Main container -->
    <div class="main-container">
      <div class="container">
        <!-- FLASH message -->
        <p><%= format_flash_message %></p>
        <!-- Yield app -->
        <%= yield %>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <p>
        <strong>Company</strong>
      </p>
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Certification', certification_path %></li>
        <li><%= link_to 'Insurance', insurance_path %></li>
        <li><%= link_to 'News', news_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>

      <p>
        <strong>Dashboard</strong>
      </p>
      <ul>
        <li><%= format_session_login_logout(@current_user) %></li>
        <li><%= format_session_current_user_nav(@current_user) %></li>
      </ul>

    </footer>

  </body>
</html>
