<!DOCTYPE html>
<html>
  <head>
    <title>Pesteco</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= cloudinary_js_config %>
    <meta name="viewport" content="minimal-ui, width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <%= favicon_link_tag 'pesteco_favicon.png', type: 'image/png' %>
    <%= favicon_link_tag 'pesteco_favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div class="row">
            <div class="col col-8">
              <a href="/">
                <span class="logo"></span>
              </a>
            </div>
            <div class="col col-4 right">
              <span class="user-login">
                <%= format_session_current_user_nav(@current_user) %>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <hr>

    <!-- Main container -->
    <div class="main-container">
      <div class="container">
        <!-- FLASH message -->
        <p><%= format_flash_message %></p>
        <!-- Yield app -->
        <div class="row">
          <div class="col col-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col sm-col-6 col-4">
            <h4>Company</h4>
            <ul>
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to 'Contact', contact_path %></li>
            </ul>
          </div>
          <div class="col sm-col-6 col-4">
            <h4>Documents</h4>
            <ul>
              <li><%= link_to 'Certification', certification_path %></li>
              <li><%= link_to 'Insurance', insurance_path %></li>
            </ul>
          </div>
          <div class="col sm-col-12 col-4">
            <h4>Clients</h4>
            <ul>
              <li><%= format_session_logout(@current_user) %></li>
              <li><%= format_session_current_user_nav(@current_user) %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 right">
          <div class="container">
          <small>Website designed and coded by <a href="https://au.linkedin.com/in/howard-mann-17450933" target="_blank">Howie Mann</a></small>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
